<table>
    <tr style="color : lightblue;">
        <th>Course Name</th>
        <th>Rating</th>
    </tr>
    {{#each courses}}
    <tr>
        <th>{{this.name}}</th>
        <th>{{this.rating}}</th>
    </tr>
    {{/each}}
</table>