<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbjT0Q3NZhE6FKZe1Ix66wbfKu9wephRI&callback=initMap&libraries=&v=weekly"
      defer
      ></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
  </head>
  <body>
    <h3>Locations</h3>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
</html>